name: Release Actions
on:
  push:
    branches: [ main ]
env:
  GITHUB_TOKEN: ${{secrets.SEMANTIC_RELEASE}}
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm ci && npm run package && npx semantic-release --ci
